<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogFile="/tmp/internal.log"
      internalLogToConsole="true"
      internalLogLevel="Debug" >
  <time type='AccurateUTC' />
  <variable name="filePath" value="../app/logs/${shortdate}.log" />

  <targets async="true">
    <target xsi:type="Console" name="logconsole"
            layout="${callsite}|${level}|${message}|${all-event-properties} ${exception:format=tostring}" />
    <target xsi:type="File" name="logfile" fileName="${filePath}"
            layout="${longdate}|${level}|${callsite}|${message}|${all-event-properties} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile, logconsole" />
  </rules>
</nlog>